#showcase h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#showcase img {
  width: 100%;
}

.showcase-left {
  margin-top: 20px;
}

.showcase-left img {
  border-radius: 20px;
}

#showcase .showcase-right {
  margin-top: 90px;
}
